@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

body {
  @apply bg-gray-950 text-gray-100 font-sans;
  font-family: 'Inter', sans-serif;
}

#root {
  @apply min-h-screen;
}
